.main {
    height: 500px;
    border: 2px solid green;
}

.flex-container {
    display: flex;
    width: 500px;
    border: 2px dashed purple;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.flex-container div {
    display: inline-block;
    color: blue;
    border: 1px solid red;
    padding: 30px;
    margin: 20px;
    background-color: rgb(245, 195, 203);
    font-size: 30px;
}